<div class="info-container">
    <div class="imagenes-inicio">
      <img src="assets/info/foto1.jpg" alt="Imagen 1 sobre la asociación" />
      <img src="assets/info/foto2.jpg" alt="Imagen 2 sobre la asociación" />
    </div>
  
    <div class="texto-info">
      <h2>Sobre Nosotros</h2>
      <p>
        La Asociación Extremeña de Pickleball nace en Mohedas de Granadilla (Cáceres) en Agosto de 2023, 
        con el ánimo y el objetivo de acercar este deporte a todos aquellos que lo quieran conocer.
        Es un deporte muy divertido y entretenido en el que pueden jugar personas de todas las edades, 
        no requiere gran conocimiento técnico ni una gran condición física para su desarrollo. 
        Es por ello que se considera un deporte muy inclusivo y de una muy alta jugabilidad. Es sencillo y de reducidas dimensiones. 
        ¿Seguro que te quieres perder el deporte de moda ?
      </p>
    </div>
    <div class="linea-tiempo">
        <h3>Hitos Importantes</h3>
        <ul>
          <li>
            <span class="fecha">20 Agosto 2023</span>
            <p>Creación de la Asociación Extremeña de Pickleball (AEXTPB).</p>
          </li>
          <li>
            <span class="fecha">23 de diciembre 2023</span>
            <p>Primera jornada de puertas abiertas en Mohedas de Granadilla.</p>
          </li>
          <li>
            <span class="fecha">18 de mayo 2024</span>
            <p>Primera jornada de puertas abiertas en Cáceres, Ciudad Deportiva.</p>
          </li>
          <li>
            <span class="fecha">14 de diciembre 2024</span>
            <p>Jornada de puertas abiertas en el Real Club de Tenis Cabezarrubia (Cáceres).</p>
          </li>
          <li>
            <span class="fecha">8 de abril 2025</span>
            <p>Jornada de puertas abiertas en la Residencia Universitaria Diego Muñoz Torrero (Cáceres).</p>
          </li>
        </ul>
      </div>      
  </div>
  